* {
    box-sizing: border-box;
}
 header {
    background-color: #EDF2EC;
    max-width: 1440px;
 }

 .navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: Inika;
 }

.section-logo {
    padding-left: 50px;
}

.section-logo img {
    width: 19px;
    height: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding-right: 50px;
   
}

 .nav-link {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
 }

 .section {
    max-width: 1440px;
 }
.section-welcome {
    background-color: #EDF2EC;
    display: flex;
    font-family: Inter;
    justify-content: space-around;
    height: 532px;
    align-items: center;

}

.title-welcome {
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.text-welcome {
font-size: 20px;
line-height: 35px;
color: #636060;
}

.welcome-img {
    width: 400px;
    
}

.highlight-span-green {
    color: #499A18;
}

.highlight-span-orange {
    color: #E06733;
}


.button-welcome {
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    border-color: #e26732;
    cursor: pointer;
    padding: 13px;
    margin-top: 30px;
    width: 175px;
}

.section-about {
    display: flex;
    justify-content:space-evenly;
    height: 666px;
    margin-top: 100px;
}

.section-about h2 {
    font-family: Inika;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
}

.text-about {
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    width: 500px;
    }