* {
    box-sizing: border-box;
}
 header {
    background-color: #EDF2EC;
    max-width: 1440px;
 }

 .navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: Inika;
 }

.section-logo {
    padding-left: 50px;
}

.section-logo img {
    width: 19px;
    height: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding-right: 50px;
   
}

 .nav-link {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
 }

 .section {
    max-width: 1440px;
 }
.section-welcome {
    background-color: #EDF2EC;
    display: flex;
    font-family: Inter;
    justify-content: space-around;
    height: 532px;
    align-items: center;

}

.title-welcome {
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.text-welcome {
font-size: 20px;
line-height: 35px;
color: #636060;
}

.welcome-img {
    width: 400px;
    
}

.highlight-span-green {
    color: #499A18;
}

.highlight-span-orange {
    color: #E06733;
}


.button-welcome {
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    border-color: #e26732;
    cursor: pointer;
    padding: 13px;
    margin-top: 30px;
    width: 175px;
}

.section-about {
    display: flex;
    justify-content:space-evenly;
    height: 666px;
    margin-top: 100px;
}

.section-about h2 {
    font-family: Inika;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
}

.text-about {
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    width: 500px;
    font-family: Inter;
    }

    .service-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    }

.section-service {
    background: #EDF2EC;
    height: 1300px;
}

.title-service {
    max-width: 306px;
    font-size: 40px;
    font-weight: 400;
    font-family: Inika;
    line-height: 52px;
    margin-left: 109px;
}

.service-nav-item {
    font-family: Inika;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    cursor: pointer;
    width: 161px;
    height: 50px;
    margin: 38px;
}

.card {
    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
    width: 330px;
    height: 450px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.card-text h3 {
    color: #E06733;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: Inter;
}

.card-text span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.card-img img{
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}

.cards-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
}